.project {
  grid-column: 2/14;
  padding: 6rem;
}
.project h5 {
  text-transform: uppercase;
  color: var(--whiteLight) !important;
  font-size: 0.8rem;
  letter-spacing: 3px;
}
.project h2 {
  font-size: 2.2rem;
  text-transform: capitalize;
  letter-spacing: -1px;
}
.project-item-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 4rem;
  color: var(--bg);
  margin-top: 6rem;
}
.project-box {
  padding: 2rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.project-box:hover {
  border: solid 2px var(--white);
  color: var(--white);
}
.project .project-box:nth-child(1):hover:after {
  outline: 2px solid rgb(255, 40, 40);
  background: rgb(255, 40, 40);
}
.project .project-box:nth-child(2):hover:after {
  background: lightcoral;
  outline: 2px solid lightcoral;
}
.project .project-box:nth-child(3):hover:after {
  background: lightcyan;
  outline: 2px solid lightcyan;
}
.project .project-box:nth-child(4):hover:after {
  background: lightgray;
  outline: 2px solid lightgray;
}
.project .project-box:nth-child(4):hover:after .project-box__link {
  width: min-content;
}
.project .project-box:nth-child(5):hover:after {
  background: lightgreen;
  outline: 2px solid lightgreen;
}
.project .project-box:nth-child(5):hover:after .project-box__link {
  width: min-content;
}
.project .project-box:nth-child(6):hover:after {
  background: lightyellow;
  outline: 2px solid lightyellow;
}
.project .project-box:nth-child(6):hover:after .project-box__link {
  width: min-content;
}
.project .project-box:nth-child(7):hover:after {
  background: lightseagreen;
  outline: 2px solid lightseagreen;
}
.project .project-box:nth-child(7):hover:after .project-box__link {
  width: min-content;
}
.project-box__link {
  align-self: flex-end;
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .project-box__link {
    width: 30%;
  }
}
.project-box__link a ion-icon {
  width: 35px;
  height: 25px;
  color: var(--white);
}
.project-box__content {
  align-self: center;
}
.project-box__content h3 {
  margin-bottom: 3rem;
  letter-spacing: -0.5px;
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: capitalize;
  color: var(--whiteLight);
}
.project-box__content h5 {
  color: var(--secondColor);
  font-size: 1em;
  font-weight: 400;
}
.project-box {
  background: var(--bg);
  border: 1px solid var(--white);
}
.project-box:after {
  content: '';
  position: absolute;
  width: 103%;
  height: 101%;
  top: 1rem;
  right: 0.5rem;
  z-index: -1;
}
.project-box:hover {
  background: none;
  background-color: var(--darkBlue);
  transition: all 0.2s ease;
}
.project-box:hover:after {
  transition: all 0.2s ease;
}
@media screen and (max-width: 600px) {
  .project {
    padding: 1em !important;
  }
}
